<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<form action="/users/login" method="post">
  		<input type="text" name="username" placeholder="Username" required class="field">
  		<input type="password" name="password" placeholder="Password" required class="field">
 		<input type="submit" value="Ingresar" class="enter">
	</form>
</body>
</html>